@import "./node_modules/tailwindcss/dist/base";

@import "./node_modules/tailwindcss/dist/components";

@import "./node_modules/tailwindcss/dist/utilities";

// CUSTOM CSS

body {
    color: green;
}

.sect {
    height: calc(100vh - 50px);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 2em 0;
}

.bg-tuna {
    background-color: rgba(45,55,72,.5);
}
